hr{
    border-width: thin; border-style: solid;
    color: #999;
}

* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

caption {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_list_wrap {
    padding-left: 330px;
    padding-right: 30px;
}

.board_list {
    width: 100%;
    border-top: 2x solid #999;
}

.board_list tr {
    border-bottom: 2px solid #999;
}

.board_list th,
.board_list td {
    padding: 10px;
    font-size: 20px;
}

.board_list td {
    text-align: center;
}

.board_list .title {
    text-align: center;
}

.board_list .title:hover {
    text-decoration: underline;
}

.look {
    margin: 10px;

    text-align: right;
}

.look input {
    width: 30%;
    border: 1px solid black;
    border-radius: 2px;
    padding: 8px 0px;
    height: 15px;
}

.look button {
    font-size: 15px;

    cursor: pointer;
}
