@charset "utf-8";
menubar {
    width: 300px;
    background-color: #eee;
    border-right: 1px solid #ddd;
    text-align: center;
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
}

h1 {
    font-size: 25px;
    padding: 20px;
}

.menubar .search {
    position: relative;
    width: 250px;
    height: 100px;
}

input { 
    width: 95%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px 0px;
    font-size: 15px;
}

img {
    position : absolute;
    width: 17px;
    top: 210px;
    right: 20px;
}

.menu li a {
    height:30px;
    line-height:30px;
    display:block;
    padding: 0px 20px;
    font-size:12px;
    color:#555;
}


.menu_top {
    text-decoration: none;
    color: black;
    padding:0px 5px;

}

.menu_bottom {
    text-decoration: none; 
    color: black; 
    padding:5px ;
    text-align :left;

}
 
hr{
    border-width: thin; border-style: solid;
    color: #999;
}

* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

caption {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_list_wrap {
    padding-left: 330px;
    padding-right: 30px;
}

.board_list {
    width: 100%;
    border-top: 2x solid #999;
}

.board_list tr {
    border-bottom: 2px solid #999;
}

.board_list th,
.board_list td {
    padding: 10px;
    font-size: 20px;
}

.board_list td {
    text-align: center;
}

.board_list .title {
    text-align: center;
}

.board_list .title:hover {
    text-decoration: underline;
}

.look {
    margin: 10px;

    text-align: right;
}

.look input {
    width: 30%;
    border: 1px solid black;
    border-radius: 2px;
    padding: 8px 0px;
    height: 15px;
}

.look button {
    font-size: 15px;

    cursor: pointer;
}